.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  //   @media (min-width: 768px) {
  //     max-width: 768px;
  //   }
  //   @media (min-width: 1200px) {
  //     max-width: 1200px;
  //   }
}
