@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #3c322d;
  background: linear-gradient(180.11deg, #e5e2e3 10.73%, #fdfefe 38.02%, #e5e2e3 71.11%, #fdfefe 99.91%);
}

.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.slider__item {
  height: 712px;
  position: relative;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}
.slider__img-wrapper {
  height: 285px;
  width: 285px;
  border-radius: 50%;
  margin-bottom: 8px;
}
@media (max-width: 1200px) {
  .slider__img-wrapper {
    height: 152px;
    width: 152px;
  }
}
.slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 50%;
}
.slider__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
  cursor: default;
  margin-bottom: 28px;
}
.slider__text {
  width: 1001px;
  position: absolute;
  text-align: center;
  display: none;
  bottom: 0px;
}
@media (max-width: 768px) {
  .slider__text {
    width: 280px;
  }
}
@media (max-width: 1200px) {
  .slider__text {
    width: 710px;
  }
}

.rate {
  margin-bottom: 8px;
  cursor: default;
}

a {
  color: currentColor;
  text-decoration: none;
  font-style: normal;
}

.header-container {
  position: relative;
  background-color: #e5e2e3;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 480px) {
  .header-container {
    padding-top: 16px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 24px;
    padding-bottom: 43px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    padding-top: 36px;
    padding-bottom: 90px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.overlay {
  margin: 0 auto;
  max-width: 320px;
  height: 312px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0), rgba(47, 48, 58, 0)), url(../images/mobile/glazed-donuts-in-boxes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0), rgba(47, 48, 58, 0)), url("../images/desktop/glazed-donuts-in-boxes@2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    min-height: 345px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0), rgba(47, 48, 58, 0)), url("../images/tablet/glazed-donuts-in-boxes.jpg");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0), rgba(47, 48, 58, 0)), url("../images/tablet/glazed-donuts-in-boxes@2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1280px;
    min-height: 556px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0), rgba(47, 48, 58, 0)), url("../images/desktop/glazed-donuts-in-boxes.jpg");
    box-shadow: none;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0), rgba(47, 48, 58, 0)), url("../images/desktop/glazed-donuts-in-boxes@2.jpg");
  }
}

nav {
  display: flex;
  align-items: center;
}

.nav-desktop {
  display: flex;
  margin-left: 47px;
}
.nav-desktop__item {
  text-align: center;
  padding: 4px 10px 4px 10px;
}
.nav-desktop__item:hover {
  color: #ffffff;
  background-color: #f3848c;
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .nav-desktop {
    display: none;
  }
}

.logo-style {
  position: relative;
  z-index: 3;
  width: 108px;
}
@media screen and (min-width: 480px) {
  .logo-style {
    width: 108px;
  }
}
@media screen and (min-width: 768px) {
  .logo-style {
    width: 106px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-style {
    width: 158px;
  }
}

.menu-button {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    top: 32px;
    right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}
.menu-button:hover {
  fill: #000000;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile-menu-container.is-open {
  transform: translateY(0%);
}

@media screen and (max-width: 1199px) {
  .mobile-menu-container {
    display: none;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 102px;
    background-color: #e5e2e3;
    transform: translateY(-110vh);
    transition: transform 250ms;
  }
  .mobile-menu-container.is-open {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-container {
    padding-top: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu-container {
    display: none;
  }
}

.bagel-menu1 {
  position: absolute;
  fill: #d68362;
  width: 78px;
  height: 78px;
  top: 66px;
  left: 270px;
}
@media screen and (min-width: 768px) {
  .bagel-menu1 {
    width: 100px;
    height: 100px;
    top: 51px;
    left: 222px;
  }
}

.bagel-menu2 {
  position: absolute;
  fill: #3c322d;
  width: 16px;
  height: 16px;
  top: 382px;
  right: 19px;
}
@media screen and (min-width: 768px) {
  .bagel-menu2 {
    width: 20px;
    height: 20px;
    top: 456px;
    right: 506px;
  }
}

.bagel-menu3 {
  position: absolute;
  fill: #3c322d;
  width: 100px;
  height: 100px;
  top: 487px;
  right: 236px;
}
@media screen and (min-width: 768px) {
  .bagel-menu3 {
    top: 463px;
    right: 32px;
  }
}

.bagel-menu4 {
  position: absolute;
  fill: transparent;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .bagel-menu4 {
    fill: #d68362;
    width: 100px;
    height: 100px;
    top: 684px;
    left: 23px;
  }
}

.bagel-menu5 {
  position: absolute;
  fill: transparent;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .bagel-menu5 {
    fill: #3c322d;
    width: 20px;
    height: 20px;
    top: 744px;
    right: 320px;
  }
}

.bagel-menu6 {
  position: absolute;
  fill: transparent;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .bagel-menu6 {
    fill: #3c322d;
    width: 100px;
    height: 100px;
    top: 863px;
    right: 74px;
  }
}

.nav-mobile__item {
  text-align: center;
  padding: 10px 28px 10px 28px;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.25;
}
.nav-mobile__item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .nav-mobile__item {
    font-size: 40px;
    line-height: 1.23;
  }
  .nav-mobile__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
.nav-mobile__item:hover {
  color: #ffffff;
  background-color: #f3848c;
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    align-items: flex-start;
    text-align: left;
  }
}
.hero-title {
  margin-top: 20px;
  max-width: 280px;
  color: #3c322d;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  line-height: 1.21;
  font-size: 7vw;
}
@media screen and (min-width: 330px) {
  .hero-title {
    margin-top: 20px;
    max-width: 280px;
    letter-spacing: -0.03em;
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    margin-top: 28px;
    max-width: 319px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    margin-top: 65px;
    max-width: 757px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 1.08;
  }
}

.hero-subtitle {
  margin-top: 18px;
  margin-bottom: 28px;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  font-size: 5vw;
}
@media screen and (min-width: 320px) {
  .hero-subtitle {
    margin-top: 18px;
    margin-bottom: 28px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .hero-subtitle {
    margin-top: 10px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-subtitle {
    margin-top: 20px;
    margin-bottom: 28px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
  }
}

.register-button {
  text-align: center;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 145px;
  background-color: #f3848c;
  border: 1px solid #f3848c;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
}
.register-button:hover {
  color: #f3848c;
  background-color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.register-button:active {
  background-color: #f3848c;
  border: 1px solid #ffffff;
  color: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
}

.register-link {
  color: inherit;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.social-links {
  display: flex;
  margin-top: 28px;
}
@media screen and (min-width: 480px) {
  .social-links {
    margin-top: 28px;
  }
}
@media screen and (min-width: 768px) {
  .social-links {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .social-links {
    margin-top: 32px;
  }
}
.social-links__item:not(:last-child) {
  margin-right: 16px;
}
.social-links__link:hover, .social-links__link:focus, .social-links__link:active {
  fill: #f3848c;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bagel-hero {
  position: absolute;
  fill: #f3848c;
  width: 50px;
  height: 50px;
  top: 104px;
  left: 38px;
}
@media screen and (min-width: 768px) {
  .bagel-hero {
    width: 100px;
    height: 100px;
    top: 92px;
    left: 268px;
  }
}
@media screen and (min-width: 1200px) {
  .bagel-hero {
    width: 150px;
    height: 150px;
    top: 171px;
    left: 449px;
  }
}

@media (min-width: 768px) {
  .about-us__container {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .about-us__container {
    padding-top: 36px;
  }
}

.about-us {
  position: relative;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .about-us {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .about-us {
    width: 1200px;
  }
}

@media (min-width: 768px) {
  .about-us__picture {
    width: 336px;
    height: 336px;
    padding-top: 36px;
  }
}
@media (min-width: 1200px) {
  .about-us__picture {
    width: 608px;
    height: 381px;
    padding-top: 0px;
  }
}

@media (min-width: 768px) {
  .about-us__text {
    margin-left: auto;
    width: 337px;
  }
}
@media (min-width: 1200px) {
  .about-us__text {
    width: 608px;
    margin-left: 32px;
  }
}

.about-us__title {
  margin-top: 28px;
  text-align: center;
  margin-bottom: 8px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #3c322d;
}
@media (min-width: 768px) {
  .about-us__title {
    text-align: start;
  }
}

.about-us__text1 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #3c322d;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .about-us__text1 {
    font-size: 18px;
    line-height: 1.22;
  }
}

.about-us__text2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #3c322d;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .about-us__text2 {
    font-size: 18px;
    line-height: 1.22;
  }
}

.about-us__button-hidden {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  padding-bottom: 35px;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.22;
  color: #3c322d;
}
@media (min-width: 1200px) {
  .about-us__button-hidden {
    display: none;
  }
}

@media (max-width: 1199px) {
  .about-us__text-desctop {
    display: none;
  }
}

.about-us__text-hidden {
  display: none;
}
@media (min-width: 1200px) {
  .about-us__text-hidden {
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 1.22;
    color: #3c322d;
    display: block;
  }
}

@media (min-width: 320px) {
  .about-us__donat1 {
    position: absolute;
    top: 330px;
    left: 130px;
  }
}
@media (min-width: 768px) {
  .about-us__donat1 {
    position: absolute;
    top: 60px;
    left: 380px;
  }
}
@media (min-width: 1200px) {
  .about-us__donat1 {
    display: none;
  }
}

@media (max-width: 1199px) {
  .about-us__donat2 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .about-us__donat2 {
    position: absolute;
    top: 70px;
    right: 260px;
  }
}

.program__container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}
@media (min-width: 768px) {
  .program__container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .program__container {
    max-width: 1200px;
  }
}

.program__title {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  padding-top: 10px;
  text-align: center;
  color: #3c322d;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
  .program__title {
    margin-left: auto;
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .program__title {
    margin-top: 162px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.21;
    color: #3C322D;
    padding-bottom: 24px;
  }
}

.program {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #3c322d;
  max-width: 480px;
}
@media (min-width: 768px) {
  .program {
    max-width: 768px;
    display: flex;
  }
}

.program__tablet-text {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .program__tablet-text {
    display: block;
    min-width: 500px;
  }
}

.program__text-li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #3c322d;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .program__text-li {
    margin-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .program__text-li {
    margin-bottom: 18px;
  }
}

.program__button {
  border-color: rgba(0, 0, 0, 0);
  background: 1;
}
@media (min-width: 1200px) {
  .program__button {
    display: none;
  }
}

@media (max-width: 1199px) {
  .hidden-text {
    display: none;
  }
}

.program__fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .program__fotos {
    max-width: 350px;
  }
}
@media (min-width: 1200px) {
  .program__fotos {
    min-width: 730px;
  }
}

.program p {
  max-width: 500px;
  margin-right: auto;
  display: inline-block;
}

.program__foto1 {
  background-image: url(../images/mobile/image1@2.png);
  background-repeat: no-repeat;
  background-size: 175px 175px;
  background-position: -12px -5px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #f3848c;
  padding-top: 70px;
  margin-right: 23px;
  margin-top: 24px;
}
@media (min-width: 768px) {
  .program__foto1 {
    background-image: url(../images/tablet/image1@2.png);
    background-size: 175px 175px;
    width: 152px;
    height: 152px;
    padding-top: 60px;
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  .program__foto1 {
    background-image: url(../images/desktop/image1@2.png);
    background-size: 288px 288px;
    width: 288px;
    height: 288px;
    margin-top: 100px;
    padding-top: 160px;
    background-position: -1px -1px;
  }
}

.program__foto2 {
  background-image: url(../images/mobile/image2@2.png);
  background-repeat: no-repeat;
  background-size: 175px 175px;
  background-position: -12px -5px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #f3848c;
  padding-top: 70px;
  margin-top: 44px;
}
@media (min-width: 768px) {
  .program__foto2 {
    margin-top: 22px;
    background-image: url(../images/tablet/image2@2.png);
    background-size: 175px 175px;
    width: 152px;
    height: 152px;
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .program__foto2 {
    background-image: url(../images/desktop/image2@2.png);
    background-size: 288px 288px;
    width: 288px;
    height: 288px;
    margin-top: 160px;
    padding-top: 160px;
    background-position: -1px -1px;
  }
}

.program__foto3 {
  background-image: url(../images/mobile/image3@2.png);
  background-repeat: no-repeat;
  background-size: 175px 175px;
  background-position: -12px -5px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #f3848c;
  padding-top: 70px;
  margin-right: 23px;
}
@media (min-width: 768px) {
  .program__foto3 {
    margin-top: 40px;
    background-image: url(../images/tablet/image3@2.png);
    background-size: 175px 175px;
    width: 152px;
    height: 152px;
    padding-top: 60px;
    margin-top: -10px;
  }
}
@media (min-width: 1200px) {
  .program__foto3 {
    background-image: url(../images/desktop/image3@2.png);
    background-size: 288px 288px;
    width: 288px;
    height: 288px;
    margin-top: 36px;
    padding-top: 160px;
    background-position: -1px -1px;
  }
}

.program__foto4 {
  background-image: url(../images/mobile/image4@2.png);
  background-repeat: no-repeat;
  background-size: 175px 175px;
  background-position: -12px -5px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #f3848c;
  padding-top: 70px;
  margin-top: 28px;
}
@media (min-width: 768px) {
  .program__foto4 {
    background-image: url(../images/tablet/image4@2.png);
    background-size: 175px 175px;
    width: 152px;
    height: 152px;
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .program__foto4 {
    background-image: url(../images/desktop/image4@2.png);
    background-size: 288px 288px;
    width: 288px;
    height: 288px;
    margin-top: 40px;
    padding-top: 160px;
    background-position: -1px -1px;
  }
}

.program__sub-title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .program__sub-title {
    font-size: 16px;
    line-height: 1.25;
    padding-left: 5px;
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .program__sub-title {
    font-size: 24px;
    line-height: 1.2;
  }
}

.program__description {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .program__description {
    font-size: 12px;
    line-height: 1.21;
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  .program__description {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 16px;
    padding-left: 75px;
  }
}

.program__border-foto {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
  display: block;
  z-index: 0;
}

.program__text-pictyre {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
}

.program__pictyre {
  width: 130px;
  height: 130px;
  display: flex;
}

.list {
  margin-top: 10px;
  margin-bottom: 16px;
  padding-left: 20px;
}

.program__text-p {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
  flex-wrap: nowrap;
}
@media (min-width: 1200px) {
  .program__text-p {
    margin-left: 10px;
  }
}

.program__text-li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: 100%;
  background-image: url("../images/hat.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: -10px;
}

.donat1 {
  position: absolute;
  z-index: 10;
  top: 150px;
  left: 400px;
}
@media (min-width: 768px) {
  .donat1 {
    display: none;
  }
}

.donat2 {
  position: absolute;
  z-index: 10;
  top: 250px;
  left: 60px;
}
@media (min-width: 768px) {
  .donat2 {
    display: none;
  }
}

.donat3 {
  position: absolute;
  z-index: 10;
  top: 350px;
  left: 360px;
}
@media (min-width: 768px) {
  .donat3 {
    top: 180px;
    left: 370px;
  }
}
@media (min-width: 1200px) {
  .donat3 {
    display: none;
  }
}

.donat4 {
  position: absolute;
  z-index: 10;
  top: 450px;
  left: 380px;
}
@media (min-width: 768px) {
  .donat4 {
    top: 20px;
    left: 550px;
  }
}

.donat5 {
  position: absolute;
  z-index: -200;
  top: 10px;
  left: 250px;
}
@media (min-width: 768px) {
  .donat5 {
    left: 30px;
    top: 3px;
  }
}
@media (min-width: 1200px) {
  .donat5 {
    display: none;
  }
}

.donat6 {
  position: absolute;
  z-index: -2;
  top: 600px;
  left: 250px;
}
@media (min-width: 768px) {
  .donat6 {
    display: none;
  }
}

@media (max-width: 767px) {
  .donat7 {
    display: none;
  }
}
@media (min-width: 768px) {
  .donat7 {
    position: absolute;
    z-index: -2;
    top: 200px;
    left: 550px;
  }
}

@media (max-width: 767px) {
  .donat8 {
    display: none;
  }
}
@media (min-width: 768px) {
  .donat8 {
    position: absolute;
    z-index: -2;
    top: 430px;
    left: 520px;
  }
}

@media (max-width: 1199px) {
  .donat9 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .donat9 {
    position: absolute;
    z-index: -2;
    top: 120px;
    left: 50px;
  }
}

@media (max-width: 1199px) {
  .donat10 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .donat10 {
    position: absolute;
    z-index: -2;
    top: 420px;
    left: 820px;
  }
}

.speakers {
  position: relative;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .speakers {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .speakers {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.speakers__title {
  margin-bottom: 5px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 32px;
  line-height: 1.22;
  text-align: center;
  color: #3c322d;
}
.speakers__list {
  text-align: center;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .speakers__list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
}
@media screen and (min-width: 768px) {
  .speakers__list {
    display: flex;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .speakers__list {
    justify-content: center;
  }
}
.speakers__item {
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .speakers__item {
    width: calc(50% - 20px);
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .speakers__item:not(:last-child) {
    margin-right: 32px;
  }
}
.speakers__img {
  display: flex;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}
.speakers__box-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #3c322d;
}
.speakers__text {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #3c322d;
}
@media screen and (min-width: 768px) {
  .speakers__text {
    width: 152px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .speakers__text {
    width: 181px;
    font-size: 16px;
  }
}
.speakers__icon {
  fill: rgba(60, 50, 45, 0.06);
}
@media screen and (max-width: 767px) {
  .speakers__circle {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 41%;
    left: 43%;
  }
}
@media screen and (min-width: 768px) {
  .speakers__circle {
    position: absolute;
    top: 0%;
    left: 15%;
  }
}
@media screen and (min-width: 1200px) {
  .speakers__circle {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0%;
    left: 7%;
  }
}
.speakers__big-circle {
  display: none;
}
@media screen and (min-width: 768px) {
  .speakers__big-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 26%;
    left: 28%;
  }
}
@media screen and (min-width: 1200px) {
  .speakers__big-circle {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 6%;
    left: 29%;
  }
}
.speakers__half-circle {
  display: none;
}
@media screen and (min-width: 768px) {
  .speakers__half-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 39%;
    left: -1%;
  }
}
@media screen and (min-width: 1200px) {
  .speakers__half-circle {
    position: absolute;
    top: 29%;
    left: -1%;
  }
}
.speakers__transparent-circle {
  display: none;
}
@media screen and (min-width: 768px) {
  .speakers__transparent-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 21%;
    left: 53%;
  }
}
@media screen and (min-width: 1200px) {
  .speakers__transparent-circle {
    position: absolute;
    top: 24%;
    left: 53%;
  }
}
.speakers__small-circle {
  display: none;
}
@media screen and (min-width: 768px) {
  .speakers__small-circle {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .speakers__small-circle {
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 67%;
  }
}
.speakers__light-circle {
  display: none;
}
@media screen and (min-width: 768px) {
  .speakers__light-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 16%;
    left: 94%;
  }
}
@media screen and (min-width: 1200px) {
  .speakers__light-circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 16%;
    left: 93%;
  }
}
.speakers__invisible-circle {
  display: inline-block;
  position: absolute;
  top: 83%;
  left: 83%;
  fill: rgba(60, 50, 45, 0.06);
}
@media screen and (min-width: 768px) {
  .speakers__invisible-circle {
    display: none;
  }
}
.speakers__dark-circle {
  display: inline-block;
  position: absolute;
  top: 17%;
  left: 92%;
}
@media screen and (min-width: 768px) {
  .speakers__dark-circle {
    display: none;
  }
}

.element-animation {
  margin: 2rem 0;
  font-size: 3rem;
  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .price {
    margin-top: 33px;
    margin-bottom: 40px;
    padding-top: 6px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .price {
    padding: 0px;
    margin-top: 77px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .price {
    margin-top: 101px;
    margin-bottom: 100px;
  }
}

.price__title {
  text-align: center;
  font-size: 32px;
  line-height: 1.21;
}
@media screen and (max-width: 767px) {
  .price__title {
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 768px) {
  .price__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 31px;
  }
}
@media screen and (min-width: 1200px) {
  .price__title {
    margin-bottom: 27px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .price__content {
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    align-items: start;
    display: grid;
  }
}

.card {
  background-color: #fafbfb;
  background-image: url(/src/images/price/price-donut-mob1-min.png);
  background-repeat: no-repeat;
  background-size: 200px 145px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  padding-top: 18px;
  padding-bottom: 20px;
  display: grid;
  padding: 20px 18px 20px 8px;
  box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  border-radius: 25px;
  background-color: #fafbfb;
  align-content: space-between;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover, .card:focus {
  outline: 1px solid #f3848c;
}
.card:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .card {
    background-image: url(/src/images/price/price-donut-mob2-min.png);
  }
}
@media screen and (min-width: 768px) {
  .card {
    max-width: 225px;
    height: 100%;
    background-image: url(/src/images/price/price-donut-tab1-min.png);
  }
  .card:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .card {
    background-image: url(/src/images/price/price-donut-tab2-min.png);
  }
}
@media screen and (min-width: 1200px) {
  .card {
    max-width: 395px;
    background-image: url(/src/images/price/price-donut-deks1-min.png);
    background-size: 300px 218px;
    padding-top: 28px;
    padding-bottom: 40px;
  }
  .card:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .card {
    background-image: url(/src/images/price/price-donut-deks2-min.png);
  }
}

.card__title {
  text-align: center;
  max-width: 212px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.37;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .card__title {
    max-width: 189px;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .card__title {
    max-width: none;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__wrapp {
  padding-left: 40px;
  padding-right: 18px;
}
@media screen and (min-width: 768px) {
  .card__wrapp {
    padding-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .card__wrapp {
    padding-left: 50px;
  }
}

.card__list {
  margin-bottom: 31px;
}
@media screen and (min-width: 1200px) {
  .card__list {
    margin-bottom: 40px;
  }
}

.card__item {
  max-width: 220px;
  font-size: 18px;
  line-height: 1.22;
  position: relative;
}
.card__item:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (min-width: 320px) {
  .card__item {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .card__item {
    max-width: 200px;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    max-width: 329px;
    margin-left: 0;
    font-size: 18px;
    line-height: 1.22;
  }
  .card__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.card__item::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(/src/images/price/price.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: -32px;
}

.card__button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  padding-top: 8;
  padding-bottom: 9;
  width: 145px;
  background-color: #f3848c;
  border: 1px solid #f3848c;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
}
.card__button:hover {
  color: #f3848c;
  background-color: #ffffff;
}
.card__button:active {
  background-color: #f3848c;
  border: 1px solid #ffffff;
  color: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
}

.reviews {
  background-image: url("../images/desktop/reviews/bgd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.reviews__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #2e2520;
  margin-bottom: 28px;
}
.reviews__slider {
  margin-bottom: 27px;
}
.reviews__pagination {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.reviews .slick-arrow {
  position: absolute;
  bottom: -36px;
  font-size: 0;
  width: 35px;
  height: 2px;
  background-color: #f3848c;
  border: none;
}
.reviews .slick-prev {
  left: calc(50% - 60px);
}
.reviews .slick-next {
  left: calc(50% + 24px);
}
.reviews .slick-current .slider__text {
  display: block;
}
.reviews .slick-current .slider__img-wrapper {
  width: 394px;
  height: 394px;
}
@media (max-width: 1200px) {
  .reviews .slick-current .slider__img-wrapper {
    height: 336px;
    width: 336px;
  }
}
.reviews .slick-current.slider__item {
  justify-content: center;
}

.registration-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .registration-section {
    padding-top: 40px;
    padding-bottom: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .registration-section {
    padding-top: 50px;
    padding-bottom: 63px;
  }
}

.title {
  margin-bottom: 27px;
  text-align: center;
  color: #2E2520;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
@media screen and (min-width: 768px) {
  .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .title {
    color: #000000;
  }
}

@media screen and (max-width: 767px) {
  .registration-section__overlay {
    background-image: linear-gradient(to right, rgba(61, 44, 44, 0.6), rgba(61, 44, 44, 0.6)), url(../images/mobile/registration/donuts-reg.png);
    background-size: cover;
    background-color: #3d2c2c;
    width: 100%;
    max-width: 280px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
    padding-top: 40px;
    padding-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .registration-section__overlay {
    background-image: linear-gradient(to right, rgba(61, 44, 44, 0.6), rgba(61, 44, 44, 0.6)), url(../images/mobile/registration/donuts-reg@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .registration-section__overlay {
    background: url(../images/tablet/registration/tablet-reg.png) left 23px top 159px, url(../images/tablet/registration/tablet-reg-overlay.png), linear-gradient(to right, rgba(61, 44, 44, 0.3), rgba(61, 44, 44, 0.3)), url(../images/tablet/registration/tablet-reg-bg.png) right;
    background-repeat: no-repeat;
    display: flex;
    width: 704px;
    height: 246px;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 32px;
    padding-left: 62px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .registration-section__overlay {
    background: url(../images/tablet/registration/tablet-reg.png) left 23px top 159px, url(../images/tablet/registration/tablet-reg-overlay@2x.png), linear-gradient(to right, rgba(61, 44, 44, 0.3), rgba(61, 44, 44, 0.3)), url(../images/tablet/registration/tablet-reg-bg@2x.png) right;
  }
}
@media screen and (min-width: 1200px) {
  .registration-section__overlay {
    background: url(../images/desktop/registration/desktop-reg.png) left 15px top 97px, url(../images/desktop/registration/desktop-reg-overlay.png), linear-gradient(to right, rgba(61, 44, 44, 0.3), rgba(61, 44, 44, 0.3)), url(../images/desktop/registration/desktop-reg-bg.png) right;
    background-repeat: no-repeat;
    display: flex;
    width: 1034px;
    height: 246px;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 213px;
    padding-right: 232px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .registration-section__overlay {
    background: url(../images/desktop/registration/desktop-reg.png) left 15px top 97px, url(../images/desktop/registration/desktop-reg-overlay@2x.png), linear-gradient(to right, rgba(61, 44, 44, 0.3), rgba(61, 44, 44, 0.3)), url(../images/desktop/registration/desktop-reg-bg@2x.png) right;
  }
}
.registration-section__date {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 767px) {
  .registration-section__date {
    max-width: 114px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .registration-section__date {
    width: 90px;
    align-self: center;
    text-align: end;
    margin-right: 56px;
    color: #000000;
  }
}
@media screen and (min-width: 1200px) {
  .registration-section__date {
    width: 127px;
    color: #3C322D;
    align-self: center;
    font-size: 20px;
    line-height: 24px;
  }
}

.registration-form {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .registration-form {
    align-items: center;
  }
  .registration-form::before {
    display: block;
    content: "";
    outline: 1px solid #FFFFFF;
    margin-bottom: 20px;
    max-width: 264px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .registration-form::before {
    width: 154px;
    content: "";
    position: absolute;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    rotate: 90deg;
    left: 105px;
    top: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .registration-form::before {
    width: 166px;
    content: "";
    position: absolute;
    outline: 1px solid #2E2520;
    rotate: 90deg;
    left: 285px;
    top: 125px;
  }
}

.registration-form__title {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .registration-form__title {
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .registration-form__title {
    width: 200px;
    margin-bottom: 16px;
    color: #000000;
  }
}
@media screen and (min-width: 1200px) {
  .registration-form__title {
    margin-bottom: 24px;
    width: 267px;
    color: #3C322D;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}

.registration-form__item {
  width: 264px;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .registration-form__item {
    width: 237px;
    height: 22px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .registration-form__item {
    width: 237px;
    margin-bottom: 14px;
  }
}

.registration-form__name,
.registration-form__tel,
.registration-form__email {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
.registration-form__name:focus,
.registration-form__tel:focus,
.registration-form__email:focus {
  outline: none;
}
@media screen and (max-width: 767px) {
  .registration-form__name,
.registration-form__tel,
.registration-form__email {
    width: 100%;
    color: #FFFFFF;
    border-bottom-color: #FFFFFF;
  }
  .registration-form__name::-moz-placeholder, .registration-form__tel::-moz-placeholder, .registration-form__email::-moz-placeholder {
    color: #FFFFFF;
  }
  .registration-form__name:-ms-input-placeholder, .registration-form__tel:-ms-input-placeholder, .registration-form__email:-ms-input-placeholder {
    color: #FFFFFF;
  }
  .registration-form__name::placeholder,
.registration-form__tel::placeholder,
.registration-form__email::placeholder {
    color: #FFFFFF;
  }
}
@media screen and (min-width: 768px) {
  .registration-form__name,
.registration-form__tel,
.registration-form__email {
    width: 234px;
    color: rgba(0, 0, 0, 0.5);
    border-bottom-color: #000000;
  }
  .registration-form__name::-moz-placeholder, .registration-form__tel::-moz-placeholder, .registration-form__email::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .registration-form__name:-ms-input-placeholder, .registration-form__tel:-ms-input-placeholder, .registration-form__email:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .registration-form__name::placeholder,
.registration-form__tel::placeholder,
.registration-form__email::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (min-width: 1200px) {
  .registration-form__name,
.registration-form__tel,
.registration-form__email {
    width: 212px;
    color: #2E2520;
    border-bottom-color: #2E2520;
  }
  .registration-form__name::-moz-placeholder, .registration-form__tel::-moz-placeholder, .registration-form__email::-moz-placeholder {
    color: #2E2520;
  }
  .registration-form__name:-ms-input-placeholder, .registration-form__tel:-ms-input-placeholder, .registration-form__email:-ms-input-placeholder {
    color: #2E2520;
  }
  .registration-form__name::placeholder,
.registration-form__tel::placeholder,
.registration-form__email::placeholder {
    color: #2E2520;
  }
}

.registration-form__button {
  width: 145px;
  padding-top: 8px;
  padding-bottom: 9px;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #f3848c;
  background-color: #F3848C;
  color: #FFFFFF;
  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
  text-align: center;
}
.registration-form__button:hover, .registration-form__button:focus {
  color: #F3848C;
  background-color: #FFFFFF;
}
.registration-form__button:active {
  background-color: #F3848C;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25), 10px 15px 25px rgba(232, 183, 183, 0.45);
}
@media screen and (max-width: 767px) {
  .registration-form__button {
    margin-top: 12px;
  }
}
@media screen and (min-width: 768px) {
  .registration-form__button {
    position: absolute;
    margin-top: 63px;
    margin-left: 311px;
  }
}
@media screen and (min-width: 1200px) {
  .registration-form__button {
    margin-left: 261px;
  }
}

.contact-section {
  padding-top: 20px;
  padding-bottom: 14px;
}
@media screen and (min-width: 678px) {
  .contact-section {
    padding-top: 34px;
    padding-bottom: 15px;
  }
}

.contact-section__title {
  margin-bottom: 27px;
  text-align: center;
  color: #2E2520;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
@media screen and (min-width: 768px) {
  .contact-section__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-section__title {
    color: #000000;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form__title {
  margin-bottom: 16px;
  color: #2e2520;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .contact-form__title {
    margin-bottom: 27px;
    color: #000000;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form__title {
    margin-bottom: 16px;
    color: #2e2520;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .contact-form__item {
    max-width: 280px;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .contact-form__item {
    margin-bottom: 16px;
    width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form__item {
    width: 394px;
  }
}

.contact-form__email,
.contact-form__question {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
.contact-form__email:focus,
.contact-form__question:focus {
  outline: none;
}
@media screen and (max-width: 1199px) {
  .contact-form__email,
.contact-form__question {
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    border-bottom-color: #000000;
  }
  .contact-form__email::-moz-placeholder, .contact-form__question::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .contact-form__email:-ms-input-placeholder, .contact-form__question:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .contact-form__email::placeholder,
.contact-form__question::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (min-width: 1200px) {
  .contact-form__email,
.contact-form__question {
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    border-bottom-color: #3C322D;
  }
  .contact-form__email::-moz-placeholder, .contact-form__question::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .contact-form__email:-ms-input-placeholder, .contact-form__question:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .contact-form__email::placeholder,
.contact-form__question::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

.contact-form__button {
  width: 145px;
  padding-top: 8px;
  padding-bottom: 9px;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #f3848c;
  background-color: #f3848c;
  color: #ffffff;
  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
  text-align: center;
}
.contact-form__button:hover, .contact-form__button:focus {
  color: #f3848c;
  background-color: #ffffff;
}
.contact-form__button:active {
  background-color: #f3848c;
  border: 1px solid #ffffff;
  color: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25), 10px 15px 25px rgba(232, 183, 183, 0.45);
}
@media screen and (max-width: 767px) {
  .contact-form__button {
    margin-top: 8px;
  }
}
@media screen and (min-width: 768px) {
  .contact-form__button {
    margin-top: 12px;
  }
}
@media screen and (min-width: 768px) {
  .contact-form__button {
    margin-top: 15px;
  }
}/*# sourceMappingURL=index.css.map */