$primary-white-color: #f6f7f7;
$primary-pink-color: #f3848c;
$primary-text-color: #3c322d;
$ordinary-white-color: #ffffff;
$bacckground-color: rgba(243, 132, 140, 0.29);
$colors: #2172b8 #18a39b #82c545 #f8b739 #f06045 #ed2861 #c12680 #5d3191;

$inner: 560px;
$border: 48px;
$spacing: 8px;
