<section class="about-us">
  <div class="container about-us__container">
    <div>
      <picture>
        <source
          srcset="
            ./images/desktop/sweet.png   1x,
            ./images/desktop/sweet@2.png 2x
          "
          type="image/png"
          media="(min-width:1200px)"
        />

        <source
          srcset="./images/tablet/sweet.png 1x, ./images/tablet/sweet@2.png 2x"
          type="image/png"
          media="(min-width:768px)"
        />

        <source
          srcset="
            ./images/mobile/sweets1.png   1x,
            ./images/mobile/sweets12@.png 2x
          "
          type="image/png"
          media="(max-width:767px)"
        />

        <img
          src="./images/mobile/sweets12@.png"
          class="about-us__picture"
          width="280"
          height="285"
          alt="donuts"
        />
      </picture>
    </div>
    <div class="about-us__text">
      <h2 class="about-us__title">About us</h2>
      <p class="about-us__text1">
        Oh My Donut is the shop which adores tasty deserts and spend hours to
        create sophisticated donuts which will save the world!
      </p>
      <p class="about-us__text2">
        Eva has been baking since she was six years old and over the last 49
        years, she has created hundreds of cakes for weddings and has baked for
        many celebrities. Eva and our shop have received multiple awards &
        recognition for excellence.
      </p>
      <button type="button" class="about-us__button-hidden">Read more</button>
      <p class="about-us__text-hidden">
        We are going to teach you how to cook with passion and sparkles in your
        eyes! We love what we do and believe you will enjoy our cooking
        atmosphere!
      </p>
    </div>
  </div>
  <svg class="about-us__donat1" widht="80" height="80">
    <use href="./images/sprite.svg#about-us-icon1"></use>
  </svg>
  <svg class="about-us__donat2" widht="100" height="100">
    <use href="./images/sprite.svg#about-us-icon2"></use>
  </svg>
</section>
