<section class="section contact-section">
  <div class="container">
    <h2 class="title contact-section__title">Contact</h2>
    <form class="contact-form">
      <h3 class="contact-form__title">We will answer any question!</h3>
      <label class="contact-form__item">
        <input
          class="contact-form__email"
          type="email"
          name="user-email"
          placeholder="Email"
          required
        />
      </label>
      <label class="contact-form__item">
        <input
          class="contact-form__question"
          type="text"
          name="user-text"
          placeholder="Type your question"
        />
      </label>
      <button class="button contact-form__button" type="submit">Send</button>
    </form>
  </div>
</section>
