<section class="section contact-section">
  <svg class="contact-mobile-big-circle" width="40px" height="40px">
    <use href="./images/sprite.svg#icon-mobile-contact-1"></use>
  </svg>
  <svg class="contact-mobile-small-circle" width="30px" height="30px">
    <use href="./images/sprite.svg#icon-mobile-contact-2"></use>
  </svg>
  <svg class="contact-tablet-circle" width="100px" height="100px">
    <use href="./images/sprite.svg#icon-tablet-contact"></use>
  </svg>
  <svg class="contact-desktop-big-circle" width="80px" height="80px">
    <use href="./images/sprite.svg#icon-desktop-contact-1"></use>
  </svg>
  <svg class="contact-desktop-middle-circle" width="40px" height="40px">
    <use href="./images/sprite.svg#icon-desktop-contact-2"></use>
  </svg>
  <svg class="contact-desktop-small-circle" width="20px" height="20px">
    <use href="./images/sprite.svg#icon-desktop-contact-3"></use>
  </svg>

  <div class="container">
    <h2 class="title contact-section__title">Contact</h2>

    <form class="contact-form">
      <h3 class="contact-form__title">We will answer any question!</h3>
      <label class="contact-form__item">
        <input
          class="contact-form__email"
          type="email"
          name="user-email"
          placeholder="Email"
          required
        />
      </label>
      <label class="contact-form__item">
        <input
          class="contact-form__question"
          type="text"
          name="user-text"
          placeholder="Type your question"
        />
      </label>
      <button class="button contact-form__button" type="submit">Send</button>
    </form>
  </div>
</section>
