<footer class="footer">
  <div class="container">
    <ul class="social-link">
      <li class="social-link__item">
        <a href="#" class="social-link__link">
          <svg width="16" height="16">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>

      <li class="social-link__item">
        <a href="#" class="social-link__link">
          <svg width="16" height="16">
            <use href="./images/sprite.svg#icon-insta"></use>
          </svg>
        </a>
      </li>

      <li class="social-link__item">
        <a href="#" class="social-link__link">
          <svg width="16" height="16">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <ul class="address-list">
      <li class="address-list__item">
        <a href="tel:+9102228855" class="address-list__link">
          <svg class="address-list__icon" width="13" height="13">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          (910)222-8855
        </a>
      </li>

      <li class="address-list__item">
        <a
          class="address-list__link"
          href="https://www.google.com/maps/place/New+York,+NY,+USA/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="address-list__icon" width="11" height="14">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          New York
        </a>
      </li>
    </ul>
  </div>
</footer>
