<header class="page-header">
    <div class="container header-container overlay">

        <svg class="bagel-hero" >
            <use href="./images/icons.svg#bagel-hero"></use>
          </svg>
      <nav class="nav">
        <!-- logo -->
        <a href="./index.html" class="site-logo">
          <img class="logo-style" src="./images/logo.png" alt="logo" />
        </a>
        <!-- Desktop navigation -->
        <ul class="nav-desktop">
          <li class="nav-desktop__item">
            <a class="nav-desktop__link" href="#about-us">About us</a>
          </li>
          <li class="nav-desktop__item">
            <a class="nav-desktop__link" href="#program">Program</a>
          </li>
          <li class="nav-desktop__item">
            <a class="nav-desktop__link" href="#speakers">Speakers</a>
          </li>
          <li class="nav-desktop__item">
            <a class="nav-desktop__link" href="#price">Price</a>
          </li>
          <li class="nav-desktop__item">
            <a class="nav-desktop__link" href="#reviews">Reviews</a>
          </li>
          <li class="nav-desktop__item">
            <a class="nav-desktop__link" href="#contacts">Contacts</a>
          </li>
        </ul>
  
        <!-- mobile navigation -->
  
        <!-- open/close buttons for mobile menu -->
        <button type="button" class="menu-button" data-menu-button>
          <svg width="40" height="40" aria-label="Переключатель мобильного меню">
            <use
              class="icon-menu"
              href="./images/icons.svg#icon-mmenu-open"
            ></use>
            <use
              class="icon-cross"
              href="./images/icons.svg#icon-mmenu-close"
            ></use>
          </svg>
        </button>
        <!-- mobile menu window -->
        <div class="mobile-menu-container" data-menu>

            <svg class="bagel-menu1" >
                <use href="./images/icons.svg#bagel-menu"></use>
              </svg>
              <svg class="bagel-menu2" >
                <use href="./images/icons.svg#bagel-menu"></use>
              </svg>
              <svg class="bagel-menu3" >
                <use href="./images/icons.svg#bagel-menu"></use>
              </svg>

              <svg class="bagel-menu4" >
                <use href="./images/icons.svg#bagel-menu"></use>
              </svg>
              <svg class="bagel-menu5" >
                <use href="./images/icons.svg#bagel-menu"></use>
              </svg>
              <svg class="bagel-menu6" >
                <use href="./images/icons.svg#bagel-menu"></use>
              </svg>

          <nav class="nav-mobile">
            <ul class="nav-mobile__list" data-menu-close>
              <li class="nav-mobile__item">
                <a href="#about-us">About us</a>
              </li>
              <li class="nav-mobile__item">
                <a href="#program">Program</a>
              </li>
              <li class="nav-mobile__item">
                <a href="#speakers">Speakers</a>
              </li>
              <li class="nav-mobile__item">
                <a href="#price">Price</a>
              </li>
              <li class="nav-mobile__item">
                <a href="#reviews">Reviews</a>
              </li>
              <li class="nav-mobile__item">
                <a href="#contacts">Contacts</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- end mobile menu -->
      </nav>
      <div class="hero">
        <h1 class="hero-title">Donut Masterclass with the Donut King</h1>
        <h2 class="hero-subtitle">Hosted by Eva Green</h2>
        <div class="register-button">
          <a class="register-link" href="#registration">Register</a>
        </div>
  
        <ul class="social-links">
          <li class="social-links__item">
            <a href="#" class="social-links__link">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
  
          <li class="social-links__item">
            <a href="#" class="social-links__link">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
  
          <li class="social-links__item">
            <a href="#" class="social-links__link">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  
  
  
  
  
  
  