<button onclick="topFunction()" id="myBtn">&cuwed;</button>

<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      document.getElementById('myBtn').style.display = 'block';
    } else {
      document.getElementById('myBtn').style.display = 'none';
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

<header class="page-header" id="header">
  <div class="container header-container">
    <!-- <svg class="bagel-hero">
      <use href="./images/sprite.svg#bagel-hero"></use>
    </svg> -->
    <nav class="nav">
      <!-- logo -->
      <a href="./index.html" class="site-logo">
        <img class="site-logo__logo" src="./images/logo.png" alt="logo" />
        <img
          class="site-logo__gif"
          src="./images/donat-gif.gif "
          alt="my-donat"
        />
      </a>

      <!-- Desktop navigation -->
      <ul class="nav-desktop">
        <li class="nav-desktop__item">
          <a class="nav-desktop__link" href="#about-us">About us</a>
        </li>
        <li class="nav-desktop__item">
          <a class="nav-desktop__link" href="#program">Program</a>
        </li>
        <li class="nav-desktop__item">
          <a class="nav-desktop__link" href="#speakers">Speakers</a>
        </li>
        <li class="nav-desktop__item">
          <a class="nav-desktop__link" href="#price">Price</a>
        </li>
        <li class="nav-desktop__item">
          <a class="nav-desktop__link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-desktop__item">
          <a class="nav-desktop__link" href="#contacts">Contacts</a>
        </li>
      </ul>

      <!-- mobile navigation -->

      <!-- open/close buttons for mobile menu -->
      <button type="button" class="menu-button" data-menu-button>
        <svg width="40" height="40" aria-label="Переключатель мобильного меню">
          <use
            class="icon-menu"
            href="./images/sprite.svg#icon-mmenu-open"
          ></use>
          <use
            class="icon-cross"
            href="./images/sprite.svg#icon-mmenu-close"
          ></use>
        </svg>
      </button>
      <!-- mobile menu window -->
      <div class="mobile-menu-container" data-menu>
        <nav class="nav-mobile">
          <ul class="nav-mobile__list" data-menu-close>
            <li class="nav-mobile__item">
              <a href="#about-us">About us</a>
            </li>
            <li class="nav-mobile__item">
              <a href="#program">Program</a>
            </li>
            <li class="nav-mobile__item">
              <a href="#speakers">Speakers</a>
            </li>
            <li class="nav-mobile__item">
              <a href="#price">Price</a>
            </li>
            <li class="nav-mobile__item">
              <a href="#reviews">Reviews</a>
            </li>
            <li class="nav-mobile__item">
              <a href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- end mobile menu -->
    </nav>
    <div class="hero">
      <h1 class="hero__title tracking-in-expand-fwd">
        Donut Masterclass with the Donut King
      </h1>
      <h2 class="hero__subtitle">Hosted by Eva Green</h2>
      <div class="hero__register-button">
        <a href="#registration">Register</a>
      </div>

      <ul class="social-links">
        <li class="social-links__item">
          <a href="#" class="social-links__link">
            <svg width="16" height="16">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>

        <li class="social-links__item">
          <a href="#" class="social-links__link">
            <svg width="16" height="16">
              <use href="./images/sprite.svg#icon-insta"></use>
            </svg>
          </a>
        </li>

        <li class="social-links__item">
          <a href="#" class="social-links__link">
            <svg width="16" height="16">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
