<section class="price">
  <div class="container">
    <h2 class="price__title">Price</h2>
    <ul class="price__content">
      <li class="card">
        <div>
          <h3 class="card__title">Easy start</h3>
          <div class="card__wrapp">
            <ul class="card__list">
              <li class="card__item">features of yeast dough preparation</li>
              <li class="card__item">
                preparation of liquid caramel for stuffing
              </li>
              <li class="card__item">
                preparation of raspberry and strawberry filling
              </li>
              <li class="card__item">fry and glaze donuts</li>
            </ul>
          </div>
        </div>
        <a href="#registration" class="button card__button">Register</a>
      </li>

      <li class="card">
        <div>
          <h3 class="card__title">I want delicious donuts</h3>
          <div class="card__wrapp">
            <ul class="card__list">
              <li class="card__item">features of yeast dough preparation</li>
              <li class="card__item">
                preparation of liquid caramel for stuffing
              </li>
              <li class="card__item">
                preparation of raspberry and strawberry filling
              </li>
              <li class="card__item">melt chocolate for decoration</li>
              <li class="card__item">fry and glaze donuts</li>
              <li class="card__item">
                donut decoration. painting and various techniques
              </li>
            </ul>
          </div>
        </div>
        <a href="#registration" class="button card__button">Register</a>
      </li>

      <li class="card">
        <div>
          <h3 class="card__title">Premium</h3>
          <div class="card__wrapp">
            <ul class="card__list">
              <li class="card__item">features of yeast dough preparation</li>
              <li class="card__item">
                preparation of liquid caramel for stuffing
              </li>
              <li class="card__item">
                preparation of raspberry and strawberry filling
              </li>
              <li class="card__item">melt chocolate for decoration</li>
              <li class="card__item">fry and glaze donuts</li>
              <li class="card__item">
                donut decoration. painting and various techniques
              </li>
              <li class="card__item">
                After party and donut tasting with speakers
              </li>
              <li class="card__item">
                2 private lessons with one of the speakers
              </li>
            </ul>
          </div>
        </div>
        <a href="#registration" class="button card__button">Register</a>
      </li>
    </ul>
  </div>
</section>
