<section class="program__container">
  <div class="program">
    <div class="program__tablet-text">
      <h2 class="program__title">Program</h2>
      <p>
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>

      <ul class="list">
        <li class="program__text-li">
          <p class="program__text-p">A stand up history of donuts</p>
        </li>
        <li class="program__text-li">
          <p class="program__text-p">Make 3 donut flavors of your choice</p>
        </li>
        <li class="program__text-li">
          <p class="program__text-p">Enjoy all-you-can-eat donuts</p>
        </li>
        <li class="program__text-li">
          <p class="program__text-p">Cocktail pairings and coffee included</p>
        </li>
        <li class="program__text-li">
          <p class="program__text-p">Photoshoot by professional photographer</p>
        </li>
        <li class="program__text-li">
          <p class="program__text-p">Secret receipt of cooking from Eva</p>
        </li>
        <li class="program__text-li">
          <p class="program__text-p">All products are included in the price</p>
        </li>
      </ul>
      <button class="program__button" type="button">Read more</button>

      <div class="hidden-text">
        Come with your dear people and friends and you will spend an
        unforgettable time and will become a real professional in donuts
        cooking!
      </div>
    </div>

    <ul class="program__fotos">
      <li class="program__foto1">
        <h3 class="program__sub-title">Type of the event</h3>
        <p class="program__description">Cooking classes</p>
      </li>

      <li class="program__foto2">
        <h3 class="program__sub-title">Number of guests</h3>
        <p class="program__description program__description-time">1 to 20</p>
      </li>

      <li class="program__foto3">
        <h3 class="program__sub-title">Time of the event</h3>
        <p class="program__description">18:30 (2.5 hours)</p>
      </li>
      <li class="program__foto4">
        <h3 class="program__sub-title">The host speaks</h3>
        <p class="program__description">English, French</p>
      </li>
    </ul>

    <svg class="donat1" width="50" height="50">
      <use href="./images/sprite.svg#icon-element6"></use>
    </svg>

    <svg class="donat2" width="50" height="50">
      <use href="./images/sprite.svg#icon--7"></use>
    </svg>
    <svg class="donat3" width="20" height="20">
      <use href="./images/sprite.svg#icon--9"></use>
    </svg>
    <svg class="donat4" width="32" height="32">
      <use href="./images/sprite.svg#icon--4"></use>
    </svg>
    <svg class="donat5" width="50" height="50">
      <use href="./images/sprite.svg#icon--3"></use>
    </svg>
    <svg class="donat6" width="50" height="50">
      <use href="./images/sprite.svg#icon--6"></use>
    </svg>
    <svg class="donat7" width="50" height="50">
      <use href="./images/sprite.svg#icon--7-1"></use>
    </svg>
    <svg class="donat8" width="32" height="32">
      <use href="./images/sprite.svg#icon--4"></use>
    </svg>
    <svg class="donat9" width="100" height="100">
      <use href="./images/sprite.svg#icon--3-2"></use>
    </svg>
    <svg class="donat10" width="100" height="100">
      <use href="./images/sprite.svg#icon--7-1"></use>
    </svg>
  </div>
</section>
