<section class="container" id="program">
  <div class="program">
    <div class="program__wrapper">
      <h2 class="program__title">Program</h2>
      <p>
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul class="donat-list">
        <li class="donat-list__item">
          <p class="donat-list__type">A stand up history of donuts</p>
        </li>
        <li class="donat-list__item">
          <p class="donat-list__type">Make 3 donut flavors of your choice</p>
        </li>
        <li class="donat-list__item">
          <p class="donat-list__type">Enjoy all-you-can-eat donuts</p>
        </li>
        <li class="donat-list__item">
          <p class="donat-list__type">Cocktail pairings and coffee included</p>
        </li>
        <li class="donat-list__item">
          <p class="donat-list__type">
            Photoshoot by professional photographer
          </p>
        </li>
        <li class="donat-list__item">
          <p class="donat-list__type">Secret receipt of cooking from Eva</p>
        </li>
        <li class="donat-list__item">
          <p class="donat-list__type">All products are included in the price</p>
        </li>
      </ul>
      <button class="program__button" type="button">Read more</button>
      <div class="program__hidden-text">
        Come with your dear people and friends and you will spend an
        unforgettable time and will become a real professional in donuts
        cooking!
      </div>
    </div>
    <ul class="circle-list">
      <li class="circle-list__foto1">
        <h3 class="circle-list__inscription">Type of the event</h3>
        <p class="circle-list__description">Cooking classes</p>
      </li>
      <li class="circle-list__foto2">
        <h3 class="circle-list__inscription">Number of guests</h3>
        <p class="circle-list__description circle-list__description-time">
          1 to 20
        </p>
      </li>
      <li class="circle-list__foto3">
        <h3 class="circle-list__inscription">Time of the event</h3>
        <p class="circle-list__description">18:30 (2.5 hours)</p>
      </li>
      <li class="circle-list__foto4">
        <h3 class="circle-list__inscription">The host speaks</h3>
        <p class="circle-list__description">English, French</p>
      </li>
    </ul>
  </div>
</section>