<section class="section registration-section" id="registration">
  <div class="container">
    <h2 class="title registration-section__title">Registration</h2>
    <div class="registration-section__overlay">
      <p class="registration-section__date">
        May 23, 11:00 <br />
        New York
      </p>
      <form class="registration-form">
        <h3 class="registration-form__title">
          Apply your personal info for registration
        </h3>
        <div class="registration-form__item">
          <input
            class="registration-form__name"
            type="text"
            id="user_name"
            name="user_name"
            pattern="^[a-zA-Z]+$"
            required
            placeholder=" "
          />
          <label class="registration-form__label" for="user_name"
            >Your name</label
          >
        </div>

        <div class="registration-form__item">
          <input
            class="registration-form__tel"
            type="tel"
            id="user-tel"
            name="user-tel"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            required
            placeholder=" "
          />
          <label class="registration-form__label" for="user-tel"
            >Phone number</label
          >
        </div>

        <div class="registration-form__item">
          <input
            class="registration-form__email"
            type="email"
            id="user-email"
            name="user-email"
            required
            placeholder=" "
          />
          <label class="registration-form__label" for="user-email">Email</label>
        </div>

        <button class="button registration-form__button" type="submit">
          Register
        </button>
      </form>
    </div>
  </div>
</section>
