<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <div class="reviews__slider slider">
      <article class="slider__item">
        <div class="slider__img-wrapper">
          <picture>
            <source
              srcset="
                ./images/desktop/reviews/will_1x.png 1x,
                ./images/desktop/reviews/will_2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/desktop/reviews/will_1x.png 1x,
                ./images/desktop/reviews/will_2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/desktop/reviews/will_1x.png 1x,
                ./images/desktop/reviews/will_2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="slider__img"
              src="./images/desktop/reviews/will_1x.png"
              alt="john"
            />
          </picture>
        </div>

        <span class="rate" data-rateyo-rating="4"></span>
        <span class="slider__name">Will</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>

      <article class="slider__item">
        <div class="slider__img-wrapper">
          <picture>
            <source
              srcset="
                ./images/mobile/reviews/john_1x.png 1x,
                ./images/mobile/reviews/john_2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/tablet/reviews/john_1x.png 1x,
                ./images/tablet/reviews/john_2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/desktop/reviews/john_1x.png 1x,
                ./images/desktop/reviews/john_2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="slider__img"
              src="./images/mobile/reviews/john_1x.png"
              alt="john"
            />
          </picture>
        </div>
        <span class="rate" data-rateyo-rating="5"></span>
        <span class="slider__name">John</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>
      <article class="slider__item">
        <div class="slider__img-wrapper">
          <picture>
            <source
              srcset="
                ./images/mobile/reviews/liza_1x.png 1x,
                ./images/mobile/reviews/liza_2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/tablet/reviews/liza_1x.png 1x,
                ./images/tablet/reviews/liza_2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/desktop/reviews/liza_1x.png 1x,
                ./images/desktop/reviews/liza_2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="slider__img"
              src="./images/mobile/reviews/liza_1x.png"
              alt="liza"
            />
          </picture>
        </div>
        <span class="rate" data-rateyo-rating="4.7"></span>
        <span class="slider__name">John</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>
      <article class="slider__item">
        <div class="slider__img-wrapper">
          <picture>
            <source
              srcset="
                ./images/desktop/reviews/will_1x.png 1x,
                ./images/desktop/reviews/will_2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/desktop/reviews/will_1x.png 1x,
                ./images/desktop/reviews/will_2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/desktop/reviews/will_1x.png 1x,
                ./images/desktop/reviews/will_2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="slider__img"
              src="./images/desktop/reviews/will_1x.png"
              alt="will"
            />
          </picture>
        </div>

        <span class="rate" data-rateyo-rating="4"></span>
        <span class="slider__name">Will</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>

      <article class="slider__item">
        <div class="slider__img-wrapper">
          <picture>
            <source
              srcset="
                ./images/mobile/reviews/john_1x.png 1x,
                ./images/mobile/reviews/john_2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/tablet/reviews/john_1x.png 1x,
                ./images/tablet/reviews/john_2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/desktop/reviews/john_1x.png 1x,
                ./images/desktop/reviews/john_2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="slider__img"
              src="./images/mobile/reviews/john_1x.png"
              alt="john"
            />
          </picture>
        </div>
        <span class="rate" data-rateyo-rating="2.3"></span>
        <span class="slider__name">John</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>
      <article class="slider__item">
        <div class="slider__img-wrapper">
          <picture>
            <source
              srcset="
                ./images/mobile/reviews/liza_1x.png 1x,
                ./images/mobile/reviews/liza_2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/tablet/reviews/liza_1x.png 1x,
                ./images/tablet/reviews/liza_2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/desktop/reviews/liza_1x.png 1x,
                ./images/desktop/reviews/liza_2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="slider__img"
              src="./images/mobile/reviews/liza_1x.png"
              alt="liza"
            />
          </picture>
        </div>
        <span class="rate" data-rateyo-rating="4.7"></span>
        <span class="slider__name">Liza</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>
    </div>
    <p class="reviews__pagination">
      <span class="reviews__show-slide">1</span
      ><span class="reviews__total-slide">/6</span>
    </p>
  </div>
</section>
