<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <div class="reviews__slider slider">
      <article class="slider__item">
        <div class="slider__img-wrapper">
          <img
            class="slider__img"
            src="./images/desktop/reviews/john1.png"
            alt="john"
          />
        </div>
        <span class="rate" data-rateyo-rating="4"></span>
        <span class="slider__name">John</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish even
          if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>
      <article class="slider__item">
        <div class="slider__img-wrapper">
          <img
            class="slider__img"
            src="./images/desktop/reviews/will1.png"
            alt="will"
          />
        </div>
        <span class="rate" data-rateyo-rating="5"></span>
        <span class="slider__name">John</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish even
          if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>
      <article class="slider__item">
        <div class="slider__img-wrapper">
          <img
            class="slider__img"
            src="./images/desktop/reviews/liza1.png"
            alt="liza"
          />
        </div>
        <span class="rate" data-rateyo-rating="4.7"></span>
        <span class="slider__name">John</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish even
          if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>
      <article class="slider__item">
        <div class="slider__img-wrapper">
          <img
            class="slider__img"
            src="./images/desktop/reviews/john1.png"
            alt="john"
          />
        </div>
        <span class="rate" data-rateyo-rating="3.3"></span>
        <span class="slider__name">John</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish even
          if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>
      <article class="slider__item">
        <div class="slider__img-wrapper">
          <img
            class="slider__img"
            src="./images/desktop/reviews/will1.png"
            alt="will"
          />
        </div>
        <span class="rate" data-rateyo-rating="4.4></span>
        <span class="slider__name">John</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish even
          if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>
      <article class="slider__item">
        <div class="slider__img-wrapper">
          <img
            class="slider__img"
            src="./images/desktop/reviews/liza1.png"
            alt="liza"
          />
        </div>
        <span class="rate" data-rateyo-rating="4.5"></span>
        <span class="slider__name">John</span>
        <p class="slider__text">
          Last time I have visited a cooking course by Eva <br />
          I was impressed with the way she explained everything <br />
          to people. You can be sure you will manage to cook a delicious dish even
          if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </article>
    </div>
    <p class="reviews__pagination">
      <span class="reviews__show-slide">1</span
      ><span class="reviews__total-slide">/6</span>
    </p>
  </div>
</section>
