<section class="section speakers"  id="speakers">
  <div class="speakers__container container">
    <h2 class="speakers__title">Speakers</h2>
    <ul class="speakers__list">
      <li class="speakers__item">
        <div class="speakers__box-img element-animation">
          <picture>
            <source
              srcset="
                ./images/desktop/rivera.desktop@1x-min.png 1x,
                ./images/desktop/rivera.desktop@2x-min.png 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./images/tablet/rivera.tablet@1x-min.png 1x,
                ./images/tablet/rivera.tablet@2x-min.png 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/mobile/rivera.mobile@1x-min.png 1x,
                ./images/mobile/rivera.mobile@2x-min.png 2x
              "
              media="(max-width: 767px)" />
            <img
              class="speakers__img"
              src="./images/mobile/rivera.mobile@1x-min.png"
              alt="Фото жінки"
              width="197"
          /></picture>

          <h3 class="speakers__box-title">Molly Rivera</h3>
          
            <p class="speakers__text">
              Pastry chef, master chocolatier of Spain
            </p>
      </li>
      <li class="speakers__item">
        <div class="speakers__box-img element-animation">
          <picture>
            <source
              srcset="
                ./images/desktop/clark.desktop@1x-min.png 1x,
                ./images/desktop/clark.desktop@2x-min.png 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./images/tablet/clark.tablet@1x-min.png 1x,
                ./images/tablet/clark.tablet@2x-min.png 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/mobile/clark.mobile@1x-min.png 1x,
                ./images/mobile/clark.mobile@2x-min.png 2x
              "
              media="(max-width: 767px)" />
            <img
              class="speakers__img"
              src="./images/mobile/clark.mobile@1x-min.png"
              alt="Фото жінки"
              width="197"
          /></picture>
          <h3 class="speakers__box-title">Sophia Clark</h3>         
            <p class="speakers__text">Сulinary school pastry chef</p>        
        </div>
      </li>
      <li class="speakers__item">
        <div class="speakers__box-img element-animation">
          <picture>
            <source
              srcset="
                ./images/desktop/taylor.desktop@1x-min.png 1x,
                ./images/desktop/taylor.desktop@2x-min.png 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./images/tablet/taylor.tablet@1x-min.png 1x,
                ./images/tablet/taylor.tablet@2x-min.png 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/mobile/taylor.mobile@1x-min.png 1x,
                ./images/mobile/taylor.mobile@2x-min.png 2x
              "
              media="(max-width: 767px)" />
            <img
              class="speakers__img"
              src="./images/mobile/taylor.mobile@1x-min.png"
              alt="Фото жінки"
              width="197"
          /></picture>
          <h3 class="speakers__box-title">Isabella Taylor</h3>         
            <p class="speakers__text">Сonsultant in the art of confectionery</p>        
        </div>
      </li>
      <li class="speakers__item">
        <div class="speakers__box-img element-animation">
          <picture>
            <source
              srcset="
                ./images/desktop/miller.desktop@1x-min.png 1x,
                ./images/desktop/miller.desktop@2x-min.png 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./images/tablet/miller.tablet@1x-min.png 1x,
                ./images/tablet/miller.tablet@2x-min.png 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/mobile/miller.mobile@1x-min.png 1x,
                ./images/mobile/miller.mobile@2x-min.png 2x
              "
              media="(max-width: 767px)" />
            <img
              class="speakers__img"
              src="./images/mobile/miller.mobile@1x-min.png"
              alt="Фото жінки"
              width="197"
          /></picture>
          <h3 class="speakers__box-title">Evelyn Miller</h3>         
            <p class="speakers__text">Master- chocolatier in Spain</p>         
        </div>
      </li>
    </ul>
    <script src="scroll.js"></script>
  </div>
</section>
