.about-us__container {
padding-top: 20px;
  @media (min-width: 768px) {
    display: flex;
    padding-top: 36px;
  }

  @media (min-width: 1200px) {
    padding-top: 64px;
  }
}

.about-us {
  position: relative;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}
.about-us__picture {
  @media (min-width: 768px) {
    width: 336px;
    height: 336px;
   
  }
  @media (min-width: 1200px) {
    width: 608px;
    height: 381px;
    padding-top: 0px;
  }
}
.about-us__text {
  @media (min-width: 768px) {
    margin-left: 63px;
    width: 337px;
  }
  @media (min-width: 1200px) {
    width: 608px;
    margin-left: 32px;
  }
}
.about-us__title {

  text-align: center;
  margin-bottom: 8px;
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #3c322d;
  margin-top: 28px;
  @media (min-width: 768px) {
    text-align: start;
    margin-top: 0px;
  }
}
.about-us__text1 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #3c322d;
  margin-bottom: 20px;
  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 1.22;
  }
}
.about-us__text2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #3c322d;
  margin-bottom: 16px;
  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 1.22;
  }
}

.about-us__button-hidden {
  background-color: rgba($color: #000000, $alpha: 0);
  border-color: rgba($color: #000000, $alpha: 0);
  padding-bottom: 35px;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 1.22;
  color: #3c322d;
  @media (min-width: 1200px) {
    display: none;
  }
}

.about-us__text-desctop {
  @media (max-width: 1199px) {
    display: none;
  }
}

.about-us__text-hidden {
  display: none;
  @media (min-width: 1200px) {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 1.22;
    color: #3c322d;
    display: block;
  }
}
.about-us__donat1 {
  @media (min-width: 320px) {
    position: absolute;
    top: 330px;
    left: 130px;
  }
  @media (min-width: 768px) {
    position: absolute;
    top: 60px;
    left: 380px;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}
.about-us__donat2 {
  @media (max-width: 1199px) {
    display: none;
  }
  @media (min-width: 1200px) {
    position: absolute;
    top: 70px;
    right: 260px;
  }
}
