// *****************************
//     Header section
// ****************************

// a {
//   color: currentColor;
//   text-decoration: none;
//   font-style: normal;
// }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;

  font-size: 35px;
  font-weight: 600;

  border: none;
  outline: none;
  background-color: #f3848c;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;

  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);

  &:hover {
    background-color: #ffffff;
    color: #f3848c;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.page-header {
  background-image: url(../images/mobile/glazed-donuts-in-boxes.png);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/glazed-donuts-in-boxes@2.png');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/desktop/glazed-donuts-in-boxes-space_768px.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/glazed-donuts-in-boxes-space_768px.png');
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/desktop/glazed-donuts-in-boxes-space.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/glazed-donuts-in-boxes-space.png');
    }
  }

  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.header-container {
  position: relative;

  padding-top: 16px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;

  @media screen and (min-width: 480px) {
    padding-top: 16px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 43px;
    padding-right: 32px;
    padding-left: 32px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 36px;
    padding-bottom: 90px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

nav {
  display: flex;
  align-items: center;
}

.nav-desktop {
  display: flex;
  margin-left: 47px;

  &__item {
    text-align: center;
    padding: 4px 10px 4px 10px;

    &:hover {
      color: #ffffff;
      background-color: #f3848c;
      background: linear-gradient(
        180deg,
        rgba(248, 110, 103, 0.63) 0%,
        rgba(253, 86, 143, 0.86) 100%
      );
      box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);

      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.site-logo {
  &__logo {
    position: relative;
    z-index: 3;
    width: 108px;
    @media screen and (min-width: 480px) {
      width: 108px;
    }
    @media screen and (min-width: 768px) {
      width: 106px;
    }
    @media screen and (min-width: 1200px) {
      width: 158px;
    }
  }

  &__gif {
    position: absolute;
    visibility: hidden;
    width: 50px;
    z-index: 3;
    top: 14px;
    left: 35px;

    @media screen and (min-width: 768px) {
      width: 50px;
      top: 22px;
      left: 46px;
    }
    @media screen and (min-width: 1200px) {
      width: 75px;
      top: 32px;
      left: 37px;
    }
    transform: translateY(-100%);
  }

  &:hover &__gif {
    visibility: visible;
    transform: translateY(0%);
    transform: z-index(10);
    transition: transform 250ms;
  }
}

// *******************************
// Mobile menu

// mobile menu button
.menu-button {
  position: absolute;
  z-index: 3;

  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }

  &:hover {
    fill: #2e2520;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

// *********************************

.mobile-menu-container {
  @media screen and (max-width: 1199px) {
    &.is-open {
      display: flex;
      align-items: center;

      transform: translateY(0%);
    }

    display: flex;
    position: fixed;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    overflow-y: auto;

    padding-top: 102px;

    background-color: #e5e2e3;

    background-image: url('../images/mobile/bg-menu.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    transform: translateY(-100%);
    transition: transform 250ms;
  }
  @media screen and (min-width: 768px) {
    padding-top: 130px;

    background-image: url('../images/tablet/bg-menu.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    overflow-y: auto;

    transform: translateY(-200%);
    transition: transform 250ms;
  }

  @media screen and (min-width: 1200px) {
    display: none;
    visibility: hidden;
  }
}

// ***********************************

// mobile menu links

.nav-mobile {
  &__item {
    text-align: center;
    padding: 10px 28px 10px 28px;

    font-family: 'Montserrat Alternates';

    font-size: 28px;
    line-height: 1.25;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 1.23;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &:hover {
      color: #ffffff;
      background-color: #f3848c;
      background: linear-gradient(
        180deg,
        rgba(248, 110, 103, 0.63) 0%,
        rgba(253, 86, 143, 0.86) 100%
      );
      box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);

      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    text-align: left;
  }

  &__title {
    margin-top: 20px;
    max-width: 280px;

    font-family: 'Montserrat Alternates';
    line-height: 1.21;

    font-size: 7vw;

    @media screen and (min-width: 340px) {
      margin-top: 20px;
      max-width: 280px;
      letter-spacing: -0.03em;

      font-size: 28px;
    }

    @media screen and (min-width: 768px) {
      margin-top: 28px;
      max-width: 319px;

      font-size: 30px;
      line-height: 1.23;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 65px;
      max-width: 757px;

      font-size: 60px;
      line-height: 1.08;
    }
  }
  &__subtitle {
    margin-top: 18px;
    margin-bottom: 28px;

    font-family: 'Montserrat Alternates';
    line-height: 1.25;

    font-size: 5vw;

    @media screen and (min-width: 320px) {
      margin-top: 18px;
      margin-bottom: 28px;
      font-size: 16px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 10px;
      margin-bottom: 24px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 20px;
      margin-bottom: 28px;

      font-size: 24px;
      line-height: 1.2;
    }
  }

  &__register-button {
    text-align: center;

    color: #ffffff;

    padding-top: 8px;
    padding-bottom: 8px;
    width: 145px;
    background-color: #f3848c;
    border: 1px solid #f3848c;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

    box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);

    &:hover {
      color: #f3848c;
      background-color: #ffffff;

      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:active {
      background-color: #f3848c;
      border: 1px solid #ffffff;
      color: #ffffff;
      box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
    }
  }
}

.social-links {
  display: flex;
  margin-top: 28px;

  @media screen and (min-width: 480px) {
    margin-top: 28px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 32px;
  }

  &__item:not(:last-child) {
    margin-right: 16px;
  }

  &__link {
    fill: #2e2520;
  }
  &__link:hover,
  &__link:focus,
  &__link:active {
    fill: #f3848c;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.bagel-hero {
  position: absolute;

  fill: #f3848c;

  width: 50px;
  height: 50px;
  top: 104px;
  left: 38px;
  @media screen and (min-width: 768px) {
    width: 100px;
    height: 100px;
    top: 92px;
    left: 268px;
  }
  @media screen and (min-width: 1200px) {
    width: 150px;
    height: 150px;
    top: 171px;
    left: 449px;
  }
}
// ***************************
//     END Header section
// ****************************
.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
