// *****************************
//     Hero section
// ****************************
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    align-items: flex-start;
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
  }
}

.hero-title {
  margin-top: 20px;
  max-width: 280px;
  color: #3c322d;

  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  line-height: 1.21;

  font-size: 7vw;

  @media screen and (min-width: 330px) {
    margin-top: 20px;
    max-width: 280px;
    letter-spacing: -0.03em;

    font-size: 28px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 28px;
    max-width: 319px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 65px;
    max-width: 757px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 1.08;
  }
}

.hero-subtitle {
  margin-top: 18px;
  margin-bottom: 28px;

  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;

  font-size: 5vw;

  @media screen and (min-width: 320px) {
    margin-top: 18px;
    margin-bottom: 28px;
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 10px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
    margin-bottom: 28px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
  }
}

.register-button {
  text-align: center;

  color: #ffffff;

  padding-top: 8px;
  padding-bottom: 8px;
  width: 145px;
  background-color: #f3848c;
  border: 1px solid #f3848c;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;

  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);

  &:hover {
    color: #f3848c;
    background-color: #ffffff;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:active {
    background-color: #f3848c;
    border: 1px solid #ffffff;
    color: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
  }
}
.register-link {
  color: inherit;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.social-links {
  display: flex;

  margin-top: 28px;

  @media screen and (min-width: 480px) {
    margin-top: 28px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 32px;
  }

  &__item:not(:last-child) {
    margin-right: 16px;
  }
  &__link:hover,
  &__link:focus,
  &__link:active {
    fill: #f3848c;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.bagel-hero {
  position: absolute;

  fill: #f3848c;

  width: 50px;
  height: 50px;
  top: 104px;
  left: 38px;
  @media screen and (min-width: 768px) {
    width: 100px;
    height: 100px;
    top: 92px;
    left: 268px;
  }
  @media screen and (min-width: 1200px) {
    width: 150px;
    height: 150px;
    top: 171px;
    left: 449px;
  }
}
// ***************************
//     END Hero section
// ****************************
