.price {
  @media screen and (max-width: 767px) {
    margin-top: 33px;
    margin-bottom: 40px;
    padding-top: 6px;
    padding-bottom: 0px;
  }

  @media screen and (min-width: 768px) {
    padding: 0px;
    margin-top: 77px;
    margin-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 101px;
    margin-bottom: 100px;
  }
}

.price__title {
  text-align: center;
  font-size: 32px;
  line-height: 1.21;

  @media screen and (max-width: 767px) {
    margin-bottom: 27px;
  }

  @media screen and (min-width: 768px) {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 31px;
    padding-top: 39px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 27px;
    padding-top: 50px;
    position: relative;
  }
}

.price__content {
  @media screen and (min-width: 768px) {
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    align-items: start;
    display: grid;
  }
}

.card {
  background-color: #fafbfb;
  background-image: url(/src/images/price/price-donut-mob1-min.png);

  background-repeat: no-repeat;
  background-size: 200px 145px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  padding-top: 18px;
  padding-bottom: 20px;
  display: grid;
  padding: 20px 18px 20px 8px;
  box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  border-radius: 25px;
  background-color: #fafbfb;
  align-content: space-between;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    outline: 1px solid #f3848c;
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(/src/images/price/price-donut-mob2-min.png);
  }

  @media screen and (min-width: 768px) {
    max-width: 225px;
    height: 100%;
    background-image: url(/src/images/price/price-donut-tab1-min.png);

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: url(/src/images/price/price-donut-tab2-min.png);
  }

  @media screen and (min-width: 1200px) {
    max-width: 395px;
    background-image: url(/src/images/price/price-donut-deks1-min.png);
    background-size: 300px 218px;
    padding-top: 28px;
    padding-bottom: 40px;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: url(/src/images/price/price-donut-deks2-min.png);
  }
}

.card__title {
  text-align: center;
  max-width: 212px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.37;
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    max-width: 189px;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    max-width: none;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__wrapp {
  padding-left: 40px;
  padding-right: 18px;

  @media screen and (min-width: 768px) {
    padding-right: 10px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 50px;
  }
}

.card__list {
  margin-bottom: 31px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.card__item {
  max-width: 220px;
  font-size: 18px;
  line-height: 1.22;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: 320px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    max-width: 200px;
    font-size: 16px;
    line-height: 1.25;
  }

  @media screen and (min-width: 1200px) {
    max-width: 329px;
    margin-left: 0;
    font-size: 18px;
    line-height: 1.22;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.card__item::before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(/src/images/price/price.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: -32px;
}

.card__button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;

  padding-top: 8;
  padding-bottom: 9;
  width: 145px;
  background-color: #f3848c;
  border: 1px solid #f3848c;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;

  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);

  &:hover {
    color: #f3848c;
    background-color: #ffffff;
  }
  &:active {
    background-color: #f3848c;
    border: 1px solid #ffffff;
    color: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
  }
}
