.program__container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;

  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.program__title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  padding-top: 10px;

  text-align: center;
  color: #3c322d;
  padding-bottom: 8px;

  @media (min-width: 768px) {
    margin-left: auto;
    text-align: start;
  }

  @media (min-width: 1200px) {
    margin-top: 162px;
    font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 1.21;
        color: #3C322D;
        padding-bottom: 24px;
  }
}

.program {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #3c322d;
  max-width: 480px;

  @media (min-width: 768px) {
    max-width: 768px;
    display: flex;
  }
}

.program__tablet-text {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1200px) {
    display: block;
    min-width: 500px;
  }
}

.program__text-li {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #3c322d;
  margin-bottom: 10px;
  display: flex;

  align-items: center;

  @media (min-width: 768px) {
    margin-bottom: 16px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 18px;
  }
}

.program__button {
  border-color: rgba($color: #000000, $alpha: 0);
  background: opacity($color: #000000);

  @media (min-width: 1200px) {
    display: none;
  }
}

.hidden-text {
  @media (max-width: 1199px) {
    display: none;
  }
}

.program__fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    max-width: 350px;
  }

  @media (min-width: 1200px) {
    min-width: 730px;
  }
}

.program p {
  max-width: 500px;

  margin-right: auto;
  display: inline-block;
}

.program__foto1 {
  background-image: url(../images/mobile/image1@2.png);
  background-repeat: no-repeat;
  background-size: 175px 175px;
  background-position: -12px -5px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #f3848c;
  padding-top: 70px;
  margin-right: 23px;
  margin-top: 24px;

  @media (min-width: 768px) {
    background-image: url(../images/tablet/image1@2.png);
    background-size: 175px 175px;
    width: 152px;
    height: 152px;
    padding-top: 60px;
    margin-top: 15px;
  }

  @media (min-width: 1200px) {
    background-image: url(../images/desktop/image1@2.png);
    background-size: 288px 288px;
    width: 288px;
    height: 288px;
    margin-top: 100px;
    padding-top: 160px;
    background-position: -1px -1px;
  }
}

.program__foto2 {
  background-image: url(../images/mobile/image2@2.png);
  background-repeat: no-repeat;
  background-size: 175px 175px;
  background-position: -12px -5px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #f3848c;
  padding-top: 70px;
  margin-top: 44px;

  @media (min-width: 768px) {
    margin-top: 22px;
    background-image: url(../images/tablet/image2@2.png);
    background-size: 175px 175px;
    width: 152px;
    height: 152px;
    padding-top: 60px;
  }

  @media (min-width: 1200px) {
    background-image: url(../images/desktop/image2@2.png);
    background-size: 288px 288px;
    width: 288px;
    height: 288px;
    margin-top: 160px;
    padding-top: 160px;
    background-position: -1px -1px;
  }
}

.program__foto3 {
  background-image: url(../images/mobile/image3@2.png);
  background-repeat: no-repeat;
  background-size: 175px 175px;
  background-position: -12px -5px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #f3848c;
  padding-top: 70px;
  margin-right: 23px;

  @media (min-width: 768px) {
    margin-top: 40px;
    background-image: url(../images/tablet/image3@2.png);
    background-size: 175px 175px;
    width: 152px;
    height: 152px;
    padding-top: 60px;
    margin-top: -10px;
  }

  @media (min-width: 1200px) {
    background-image: url(../images/desktop/image3@2.png);
    background-size: 288px 288px;
    width: 288px;
    height: 288px;
    margin-top: 36px;
    padding-top: 160px;
    background-position: -1px -1px;
  }
}

.program__foto4 {
  background-image: url(../images/mobile/image4@2.png);
  background-repeat: no-repeat;
  background-size: 175px 175px;
  background-position: -12px -5px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #f3848c;
  padding-top: 70px;
  margin-top: 28px;

  @media (min-width: 768px) {
    background-image: url(../images/tablet/image4@2.png);
    background-size: 175px 175px;
    width: 152px;
    height: 152px;
    padding-top: 60px;
  }

  @media (min-width: 1200px) {
    background-image: url(../images/desktop/image4@2.png);
    background-size: 288px 288px;
    width: 288px;
    height: 288px;
    margin-top: 40px;
    padding-top: 160px;
    background-position: -1px -1px;
  }
}

.program__sub-title {
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  text-align: center;
  color: #ffffff;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
    padding-left: 5px;
    padding-top: 30px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
    line-height: 1.2;
  }
}

.program__description {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  padding-left: 20px;

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 1.21;
    padding-left: 30px;
  }

  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 16px;
    padding-left: 75px;
  }
}

.program__border-foto {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
  display: block;
  z-index: 0;
}

.program__text-pictyre {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
}

.program__pictyre {
  width: 130px;
  height: 130px;
  display: flex;
}

.list {
  margin-top: 10px;
  margin-bottom: 16px;
  padding-left: 20px;
}

.program__text-p {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
  flex-wrap: nowrap;

  @media (min-width: 1200px) {
    margin-left: 10px;
  }
}

.program__text-li::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: 100%;
  background-image: url('../images/hat.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: -10px;
}

.donat1 {
  position: absolute;

  z-index: 10;
  top: 150px;
  left: 400px;
  @media (min-width: 768px) {
    display: none;
  }
}
.donat2 {
  position: absolute;
  z-index: 10;
  top: 250px;
  left: 60px;
  @media (min-width: 768px) {
    display: none;
  }
}
.donat3 {
  position: absolute;
  z-index: 10;
  top: 350px;
  left: 360px;
  @media (min-width: 768px) {
    top: 180px;
        left: 370px;
  }
  @media (min-width: 1200px) {
      display: none;
  }
}
.donat4 {
  position: absolute;
  z-index: 10;
  top: 450px;
  left: 380px;
  @media (min-width: 768px) {
    top: 20px;
        left: 550px;
  }
}
.donat5 {
  position: absolute;
  z-index: -200;
  top: 10px;
  left: 250px;

  @media (min-width: 768px) {
    left: 30px;
    top: 3px;
  }
  @media (min-width: 1200px){
    display: none;
    
  }
}
.donat6 {
    position: absolute;
    z-index: -2;
    top: 600px;
    left: 250px;

    @media (min-width: 768px) {
        display: none;
    }
}
.donat7 {
    @media (max-width: 767px) {
      display: none;
        }
    @media (min-width: 768px) {
        position: absolute;
            z-index: -2;
            top: 200px;
            left: 550px;
    }
}
.donat8 {
    @media (max-width: 767px) {
        display: none;
    }

    @media (min-width: 768px) {
        position: absolute;
        z-index: -2;
        top: 430px;
        left: 520px;
    }
}
.donat9 {
    @media (max-width: 1199px) {
        display: none;
    }
    @media (min-width: 1200px) {
        position: absolute;
        z-index: -2;
        top: 120px;
        left: 50px;
    }
}
.donat10 {
    @media (max-width: 1199px) {
        display: none;
    }
    @media (min-width: 1200px) {
        position: absolute;
        z-index: -2;
        top: 420px;
        left: 820px;
    }
}