.reviews {
  position: relative;

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #2e2520;
    margin-bottom: 28px;
  }

  &__slider {
    margin-bottom: 27px;
  }

  &__pagination {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }

  .slick-arrow {
    position: absolute;
    bottom: -36px;
    font-size: 0;
    width: 35px;
    height: 2px;
    background-color: $primary-pink-color;
    border: none;
  }

  .slick-prev {
    left: calc(50% - 60px);
  }

  .slick-next {
    left: calc(50% + 24px);
  }

  .slick-current {
    .slider__text {
      display: block;
    }
    .slider__img-wrapper {
      width: 394px;
      height: 394px;
      @media (max-width: 1200px) {
        height: 336px;
        width: 336px;
      }
    }

    &.slider__item {
      height: 712px;
      justify-content: center;
    }
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: url('../images/desktop/reviews/main-bgd-el_1x-min.png'),
    linear-gradient(
      180.11deg,
      #e5e2e3 10.73%,
      #fdfefe 38.02%,
      #e5e2e3 71.11%,
      #fdfefe 99.91%
    );
  z-index: 500;
}

.loaded_hiding .preloader {
  transition: 10s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
  transition: 10s opacity;
  opacity: 0;
}
