.speakers {
  // position: relative;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  max-width: 320px;
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 45px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;

    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__box-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 5px;
    font-family: 'Montserrat Alternates';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;

    text-align: center;

    color: $primary-text-color;
  }

  &__list {
    text-align: center;
    list-style: none;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__item {
    text-align: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      width: calc(50% - 20px);
      margin: 10px;
    }

    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  &__img {
    display: flex;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  &__box-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;

    text-align: center;

    color: $primary-text-color;
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;

    color: $primary-text-color;
    display: flex;

    @media screen and (min-width: 768px) {
      max-width: 152px;
      font-size: 14px;
    }
    @media screen and (min-width: 1200px) {
      justify-content: center;
      max-width: 181px;
      font-size: 16px;
    }
  }

  // &__icon {
  //   fill: rgba(60, 50, 45, 0.06);
  // }

  // &__circle {
  //   @media screen and (max-width: 767px) {
  //     position: absolute;
  //     width: 16px;
  //     height: 16px;
  //     top: 41%;
  //     left: 43%;
  //   }
  //   @media screen and (min-width: 768px) {
  //     position: absolute;
  //     top: 0%;
  //     left: 15%;
  //   }
  //   @media screen and (min-width: 1200px) {
  //     width: 32px;
  //     height: 32px;
  //     position: absolute;
  //     top: 0%;
  //     left: 7%;
  //   }
  // }

  // &__big-circle {
  //   display: none;
  //   @media screen and (min-width: 768px) {
  //     display: inline-block;
  //     width: 40px;
  //     height: 40px;
  //     position: absolute;
  //     top: 26%;
  //     left: 28%;
  //   }
  //   @media screen and (min-width: 1200px) {
  //     width: 80px;
  //     height: 80px;
  //     position: absolute;
  //     top: 6%;
  //     left: 29%;
  //   }
  // }

  // &__half-circle {
  //   display: none;
  //   @media screen and (min-width: 768px) {
  //     display: inline-block;
  //     width: 40px;
  //     height: 40px;
  //     position: absolute;
  //     top: 39%;
  //     left: -1%;
  //   }
  //   @media screen and (min-width: 1200px) {
  //     position: absolute;
  //     top: 29%;
  //     left: -1%;
  //   }
  // }

  // &__transparent-circle {
  //   display: none;

  //   @media screen and (min-width: 768px) {
  //     display: inline-block;
  //     width: 50px;
  //     height: 50px;
  //     position: absolute;
  //     top: 21%;
  //     left: 53%;
  //   }
  //   @media screen and (min-width: 1200px) {
  //     position: absolute;
  //     top: 24%;
  //     left: 53%;
  //   }
  // }

  // &__small-circle {
  //   display: none;
  //   @media screen and (min-width: 768px) {
  //     display: none;
  //   }
  //   @media screen and (min-width: 1200px) {
  //     display: inline-block;
  //     position: absolute;
  //     top: 0%;
  //     left: 67%;
  //   }
  // }

  // &__light-circle {
  //   display: none;

  //   @media screen and (min-width: 768px) {
  //     display: inline-block;
  //     width: 50px;
  //     height: 50px;
  //     position: absolute;
  //     top: 16%;
  //     left: 94%;
  //   }
  //   @media screen and (min-width: 1200px) {
  //     width: 100px;
  //     height: 100px;
  //     position: absolute;
  //     top: 16%;
  //     left: 93%;
  //   }
  // }

  // &__invisible-circle {
  //   display: inline-block;
  //   position: absolute;
  //   top: 83%;
  //   left: 83%;
  //   fill: rgba(60, 50, 45, 0.06);
  //   @media screen and (min-width: 768px) {
  //     display: none;
  //   }
  // }

  // &__dark-circle {
  //   display: inline-block;
  //   position: absolute;
  //   top: 17%;
  //   left: 92%;

  //   @media screen and (min-width: 768px) {
  //     display: none;
  //   }
  // }
}
.element-animation {
  margin: 2rem 0;
  font-size: 3rem;

  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
